.site_info{
  height: 400px;
  width: 100%;
  background-color: rgb(5, 5, 71);
}

.Courses_h3{
  box-sizing: border-box;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  pad: 0px;
  width: 100%;
  align-items: center;
  background-color: rgb(87, 127, 0);
  justify-content: center;
  align-items: center;
}
.AboutUs {
  width: 47%;           
  height: 454px;         
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  border-radius: 2px;
  border-color: black;
  background-attachment: fixed;
  background-size: cover;
  border-style: solid;
  border-radius: 14px;
  border-color: rgb(0, 0, 0);
  margin-right: 12px;
  margin-bottom: 12px;
  background-color: antiquewhite;
}
.grid_courses2{
  margin-top: 20px;
}

.AboutUs2 {
  width: 30%;           
  height: 454px;         
   
  border-radius: 2px;
  border-color: black;
 
  
  border-style: solid;
  border-radius: 14px;
  border-color: rgb(0, 0, 0);
  margin-right: 27px;
  margin-bottom: 12px;
  
}


 

.row1_siteInfo{
  align-content: stretch;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
 margin: 22px;
 
}
.vision{
  border-bottom-color: black;
  border-bottom-width: 2px;
  border-bottom-style: double;
  
}



@media (max-width: 1050px) {
  
  .AboutUs2 {
    background-position: top; /* Adjust background position for smaller screens */
    margin-right: 14px;
  }

}


@media (max-width: 720px) {
  .AboutUs {
    background-position: top; /* Adjust background position for smaller screens */
    width: 94%;

  }
  .AboutUs2 {
    background-position: top; /* Adjust background position for smaller screens */
    width: 45%;
  }

}
@media (max-width: 500px) {
  .grid_courses{
    background-color: rgba(87, 127, 0, 0.253);;
  }


  .AboutUs2 {
    background-position: top; /* Adjust background position for smaller screens */
    width: 99%;
    margin-right: 0px;
    
  }
  .AboutUs {
    background-position: top; /* Adjust background position for smaller screens */
    width: 99%;
    height: 344px;
    margin-left: 0px;
    margin-right: 0px;
    
  }
  .image_div9{
    height: 130px;
    padding-top: 2px;
  }

  .row1_siteInfo{
    align-content: stretch;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
   margin: 12px;
   margin-top: 0px;
   
  }
  

}

