/* styles.css */




.logo {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}

.icons {
  display: flex;
  align-items: center;
}

.menu-icon, .search-icon {
  cursor: pointer;
  font-size: 1.5em;
  margin-left: 1em;
}

.profile-icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #888;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: white;
  margin-left: 1em;
}

nav {
  background-color: #577f00;
  position: fixed; /* Ensure it stays in the same place */
  top: 70px; /* Adjust based on header height */
  left: 0;
  right: 0;
  width: 50%;
  z-index: 99; /* Make sure it is above other elements */
   /* Hidden by default */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  padding: 1em;
  border-bottom: 1px solid #555;
}

nav li a {
  color: white;
  text-decoration: none;
}

.hidden {
  display: none;
}

.li1 a{
  color: #577f00;;
  text-decoration: none;
  margin: 12px;
}

.li1 a:hover{
  text-decoration: underline;
  size: 14px;
}

#searchForm {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

#searchInput {
  padding: 0.5em;
  font-size: 1em;
}

/* Modal Styles */
#authModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 500px) {
 
  nav{
    background-color: #e69334;
    position: fixed; /* Ensure it stays in the same place */
    top: 50px; /* Adjust based on header height */
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99; /* Make sure it is above other elements */
     /* Hidden by default */
  }

}

