.TopNav{
  background-color: rgb(21, 0, 44);
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
  margin-top: 71px;
  align-items: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.TopNav, p {
  color: wheat;
  font-size: 14px;
  padding-left: 14px;
  font-weight: bold;
}

.login{
  background-color: #058075;
  margin-left: 24px;
  margin-right: 20px;
  border: 8px;
  height: 40px;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-evenly;

 
}

