<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up & Sign In</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="switcher">
        <button id="signup-btn" class="active">Sign Up</button>
        <button id="signin-btn">Sign In</button>
    </div>

    <div id="signup-form" class="form-container">
        <h2>Sign Up</h2>
        <form id="signupForm" action="/api/users/signup" method="POST">
            <input type="text" id="fullname" name="fullname" placeholder="Full Name" required>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="text" id="username" name="username" placeholder="Public Username" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password" required>
            <select id="country" name="country" required>
                <option value="" disabled selected>Country/Region</option>
                <option value="us">United States</option>
                <option value="ca">Canada</option>
                <option value="uk">United Kingdom</option>
            </select>
            <div class="terms">
                <input style="width: 20px;" type="checkbox" id="terms" name="terms" required>
                <label style="font-size: small;" for="terms">I agree with terms and conditions</label>
            </div>
            <button type="submit">Sign Up</button>
        </form>
    </div>

    <div id="signin-form" class="form-container hidden">
        <h2>Sign In</h2>
        <form id="signinForm" action="/api/users/signin" method="POST">
            <input type="text" id="user-email" name="user-email" placeholder="Username or Email" required>
            <input type="password" id="signin-password" name="signin-password" placeholder="Password" required>
            <button type="submit">Sign In</button>
        </form>
        <div class="forgot-password">
            <p><a href="#">Forgot Password?</a></p>
        </div>
    </div>

    <script src="/js/kojo.js"></script>
</body>
</html>
